.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

*{
    padding: 0;
    margin: 0;
}

.maquesia {
  text-align: center;
  background-color: #1e1e2e;
  font-size: 20%;
  
}

h1{
    text-align: center;
    background-color: #1e1e2e;
    color: #ededed;
    padding: 10px;
}

/* Esto es el munú desplegable */

nav {
    text-align: center;
    background-color: #888384;
    color: #1e1e2e;
    list-style-type: none;
    padding: 10px;
  }
  
  .menú {
    list-style: none;
    margin: 0;
    padding: 10px;
  }
  
  .menú li {
    display: inline-flex;
    margin-right: 20px;
  }
  
  .menú a {
    color: #ededed;
    text-decoration: none;
    padding: 10px;
  }

  .menú li:hover {
    background-color: #1e1e2e;
  }
  
  .submenú {
    display: none;
    position: absolute;
    background-color: #888384;
    padding: 1em;
    left: 100%;
    top: 0;
  }
  
  .submenú li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .submenú a {
    color: #333;
    text-decoration: none;
    padding: 0.5em 1em;
  }
  
  .menú li:hover .submenu {
    display: block;
  }
  

h2{
    text-align: center;
    color: #1e1e2e;
    padding: 20px;
}

.contenedor1 {
    width: 80%;
    height: 200px;
    align-items: center;
    border: 1px solid #1e1e2e;
    background-color: #1e1e2e;
    border-radius: 10px;
    margin: 20px;
    text-align: left;
    color: #ededed;
    padding: 5%;
}

.contenedor2 {
  width: 80%;
  height: 200px;
  align-items: center;
  border: 1px solid #1e1e2e;
  background-color: #1e1e2e;
  border-radius: 10px;
  margin: 20px;
  text-align: left;
  color: #ededed;
  padding: 5%;
}

.fondo {
  padding: 15px;
  color: #ededed;
  background-color: #1e1e2e;
  position: bottom;
  width: 100%;
}

.fondo img {
  padding: 20px;
  width: 50px;
  height: 50px;

}

#centrar {  
    text-align: center;
    }  
