*{
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
    background-color: #1e1e2e;
    color: #ededed;
    padding: 10px;
}

/* Esto es el munú desplegable */

nav {
    background-color: #888384;
    color: #1e1e2e;
    padding: 10px;
  }
  
  .menu-principal {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu-principal li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .menu-principal a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
  }
  
  .submenu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    padding: 1em;
    left: 100%;
    top: 0;
  }
  
  .submenu li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .submenu a {
    color: #333;
    text-decoration: none;
    padding: 0.5em 1em;
  }
  
  .menu-principal li:hover .submenu {
    display: block;
  }
  

h2{
    text-align: center;
    color: #ffffff;
}

.contenedor1 {
    width: 350px;
    height: 200px;
    border: 1px solid #1e1e2e;
    margin: 20px;
    text-align: left;
}

